
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

.big {
    font-size: 100px;
}

.fontstyle{
    font-style: italic;
}

.redos {
    color: red;
}

.success {
	color: purple;
}
.error {
	color: darkblue;
}

#block1 { /*В чем разница между классом и id? Классы в основном делают если нужно что-то покрасить многократно
                    а id чтобы выделить уникальность для кода */
	color: red; 
}
#block2 {
	color: green;
}

#elem h2 {
    color : green;
}

#elem li.text {
    color: red;
}

#elem p.text{
    color:red;
}

.eee.zzz.ccc {
	color: red;
}

#block h1, #block h2{
	text-align: center;
}

#block h1, #block h2, #block h3 {
	text-align: center;
}
#block h2 {
	color: blue;
}
#block h3 {
	font-size: 16px;
	color: red;
}

div p {
	color:red;
}

div h2 {
	color:green;
}

#block1 p {
    color:brown;
}

.fff.bbb h2{
    color: red;
}

main * p {
    color: red;
}
p.title{
    color: red;
}

p[title = 'привет']{
    color: red;
}

a {
	color: red;
}
a:hover {
    text-decoration: none;
}
a.ccs {
    color: red;
    }
a.ccs:hover {
    text-decoration: none;
}
#block a.zzz {
	color: red;
}
#block a.zzz:hover {
	text-decoration: none;
}

.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}
#di_1 li:not(.elem){
	color: white;
}
#di_2 li:not(:first-child){
	color: blue;
}

#di_3 li:not(:first-child, :last-child){
	color: red;
}