
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

.big {
    font-size: 100px;
}

.fontstyle{
    font-style: italic;
}

.redos {
    color: red;
}

.success {
	color: purple;
}
.error {
	color: darkblue;
}

#block1 { /*В чем разница между классом и id? Классы в основном делают если нужно что-то покрасить многократно
                    а id чтобы выделить уникальность для кода */
	color: red; 
}
#block2 {
	color: green;
}

#elem h2 {
    color : green;
}

#elem li.text {
    color: red;
}

#elem p.text{
    color:red;
}

.eee.zzz.ccc {
	color: red;
}

.bbb.zzz {
	color: green;
}

h2.bbb.zzz {
	color: orange;
}

#elem.bbb {
	color: yellow;
}

#elem.bbb.zzz {
	color: brown;
}